<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  id="archorg.arch.gwa"
  version="3.0">
  <display-name>archorg.arch.gwa</display-name>
  <!-- Servlets -->
  <servlet>
    <servlet-name>ss</servlet-name>
    <servlet-class>archorg.arch.gwa.server.ServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ss</servlet-name>
    <url-pattern>/archorg_arch_gwa/serviz</url-pattern>
  </servlet-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Archorg_arch_gwa.html</welcome-file>
  </welcome-file-list>
</web-app>
